/* Importing fonts from Google. */
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700);

/* Body. */
a {
	color: #777777;
}

@media only screen and (min-width: 768px) {
	body {
		background-image: url(../img/background.jpg);
		background-size: 100%, 100%;
		background-repeat: no-repeat;
	}
}

a:hover {
	color: #444444;
	text-decoration: none;
}


body {
	font-family: "Roboto Slab", Helvetica;
	font-weight: 400;
}

h2 {
	font-weight: 700;
}

/* Headline. */
h1 {
	font-family: "Roboto Slab", Helvetica;
	font-size: 5em;
	margin: 0px;
	padding: 1em;
	text-align: center;
	width: 100%;
}

/* Map. */
#container {
 	border-style: solid;
 	border-radius: 20px;
 	border-width: 10px;
	height: 800px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

/* Map info. */
#infoBar {

}

table {
	margin-left: auto;
	margin-right: auto;
}

td {
	text-align: center;
	padding: 1em;
}

.tblHeading {
	font-weight: 700;
}