/* 

Chris Leatham
Mike Freeman
INFO 343 A

CSS for index.html for police-shootings

*/

/* Font import */
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700);

/* Default characteristics */

body {
	font-family: "Roboto Slab", Helvetica;
	font-weight: 400;
	background-color: #202020;
}

#mapinfo {
	text-align: center;
}

a {
	color: #A0A0A0;
}

a:hover {
	color: #B22222;
	text-decoration: none;
}


#description {
	text-align: center;
	color: white;
}

h2 {
	font-weight: 700;
}

/* Title characteristics */
h1 {
	font-size: 8em;
	width: 100%;
	padding: 1em;
	text-align: center;
	margin-top: 0px;
	color: #FFFFFF;
}

/* Map characteristics */
#container {
 	border-style: double;
 	border-color: #FFFFF0;
 	border-radius: 20px;
 	border-width: 10px;
	height: 800px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}


/* Table characteristics */
table {
	color: white;
	margin-left: auto;
	margin-right: auto;
	font-size: 50;
}

td {
	text-align: center;
	padding: 1em;
}

.tblHeading {
	font-weight: 1000;
}

/* When on phone screens */
@media screen and (max-width: 767px) {
	
	body {
		font-weight: 100;
	}

	h1 {
		font-size: 3em;
	}

	/* Map on phone screens */
	#container {
		height: 500px;
		width: 500px;
		border-radius: 5px;
		border width: 5px;
	}


	}
}